html, body { min-height: 100%; height: 100%; width: 100%; padding: 0; margin: 0; }
body {
	color: #222;
	background: #fefefe;
}

#logo {
	width: 300px;
	height: 300px;

	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;

	padding-bottom: 150px;
}

#footer {
	position: absolute;

	font-family: Arial;

	bottom: 20px; left: 0; right: 0;

	text-align: center;
}

#footer #description {
	color: #aaa;

	text-transform: uppercase;

	margin-bottom: 10px;
}

#footer #contact {
	color: #444;
	font-size: 0.8em;
}

#footer #contact a { color: #444; text-decoration: none; }